* {
  margin: 0;
  padding: 0;
}
/* --------------------------- W E L C O M E   P A G E ----------------------------------- */
.welcomeContainer{
  background-color: paleturquoise;
}

  .welcomeDoor{
    background-color: palevioletred;
  }

  .startButton{
    background-color: rgb(226, 178, 138); 
  }

  .feWelcomeText{
    background-color: rgb(255, 129, 129); 
  }

  .portfolioWelcomeText{
    background-color: rgb(129, 255, 213);
  }

  .invitationText{
    background-color: rgb(228, 255, 129);
  }